.carousel-brands {
  position: relative;
  padding-bottom: 44px;
}

.carousel-brands  > button.slick-next.slick-arrow, .carousel-brands > button.slick-prev.slick-arrow {
  position: absolute;
  height: 44px;
  width: 44px;
  bottom: 0;
  overflow: hidden;
  text-indent: -400%;
}
.carousel-brands  > button.slick-next.slick-arrow {
  right: 10px;
  background: url(../assets/brands/arrows/right_arrow_red.svg) no-repeat center;
}

.carousel-brands > button.slick-prev.slick-arrow {
  right: 64px;
  background: url(../assets/brands/arrows/left_arrow_red.svg) no-repeat center;
}

.carousel-brands  > button.slick-next.slick-arrow.slick-disabled {
  background: url(../assets/brands/arrows/right_arrow_gray.svg) no-repeat center;
}

.carousel-brands > button.slick-prev.slick-arrow.slick-disabled{
  background: url(../assets/brands/arrows/left_arrow_gray.svg) no-repeat center;
}


div[class^="brands-container"] > .content {
  display: grid;
  /* grid-auto-flow: column; */
  grid-template-columns: repeat(2 , 1fr);
  grid-template-rows: repeat(5 , 70px);
  grid-column-gap: 40px ;
  grid-row-gap: 20px;
  border: solid 1px lightgreen;
  padding: 0 35px;
}

.content {
  height: 100%;
  width: 100%;
  position: relative;
}

.content > li[class^="brand"]  {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: -1000px;
  align-self: center;
  justify-self: center;
  /* border: solid 1px tomato; */
}

.brand-paramount {
  background: url(../assets/brands/paramount.svg);
  /* background-size: 68% 68% !important; */
  height: 90% !important;
  border: solid 1px tomato;
}

.brand-microsoft {
  background: url(../assets/brands/microsoft.svg);
}

.brand-kpsnaks {
  background: url(../assets/brands/kpsnacks.svg);
}

.brand-bbc {
  background: url(../assets/brands/bbc.svg);
  /* background-size: 80% 80% !important; */
}

.brand-kerry {
  background: url(../assets/brands/kerry.svg);
}

.brand-visa {
  background: url(../assets/brands/visa.svg);
  /* background-size: 40% 40% !important; */
  height: 40% !important;
  border: solid 1px tomato;
}

.brand-mira {
  background: url(../assets/brands/mira-showers.svg);
  /* background-size: 60% 60% !important; */
  height: 70% !important;
  border: solid 1px tomato;
}

.brand-vodafone {
  background: url(../assets/brands/vodafone.svg);
}

.brand-mattel {
  background: url(../assets/brands/mattel.svg);
  /* background-size: 68% 68% !important; */
}

.brand-tourism {
  background: url(../assets/brands/tourism.svg);
}

.brand-bank-of-ireland {
  background: url(../assets/brands/bank_of_ireland.svg);
  height: 68% !important;
  /* background-size: 68% 68% !important; */
  border: solid 1px tomato;
}

.brand-aviva {
  background: url(../assets/brands/aviva.svg);
  /* background-size: 70% 70% !important; */
  height: 70% !important;
  border: solid 1px tomato;
}

.brand-ret {
  background: url(../assets/brands/ret.svg);
  /* background-size: 55% 55% !important; */
  height: 50% !important;
  border: solid 1px tomato;
}

.brand-irsh-life {
  background: url(../assets/brands/irsh_life.svg);
  height: 60% !important;
  border: solid 1px tomato;
}

.brand-bord-bia {
  background: url(../assets/brands/bord_bia.svg);
}

.brand-irish-distillers {
  background: url(../assets/brands/irish_distillers.svg);
}

.brand-national-lottery {
  background: url(../assets/brands/national_lottery.svg);
}

.brand-nba {
  background: url(../assets/brands/nba.svg);
  /* background-size: 68% 68% !important; */
  height: 55% !important;
  border: solid 1px tomato;
}

.brand-disney {
  background: url(../assets/brands/disney.svg);
  /* background-size: 70% 70% !important; */
  height: 60% !important;
  border: solid 1px tomato;
}

.brand-suntory {
  background: url(../assets/brands/suntory.svg);
}

@media screen and (min-width: 1000px) {
  div[class^="brands-container"] > .content {
    grid-template-columns: repeat(5 , 1fr);
    grid-template-rows: repeat(2 , 140px);
  }
  div[class^="brands-container"] > .content {
    padding: 0;
  }

  /* .brand-ret {
    background: url(../assets/brands/ret.svg);
    background-size: 40% 40% !important;
  }

  .brand-irsh-life {
    background: url(../assets/brands/irsh_life.svg);
    background-size: 50% 50% !important;
  }

  .brand-nba {
    background: url(../assets/brands/nba.svg);
    background-size: 50% 50% !important;
  } */
  
}
 