footer {
  background-color: var(--brand_primary_600);
  color: var(--white);
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  width: 100vw;
  max-width: 100%;
  padding: 40px 20px;
}

.policy-rights-container{
  background-color: var(--brand_primary_700);
}