:root {
	--white: #ffffff;
	--black: #000000;
	--blue: #22505F;
	--red: #d0103a;
	--grey: #F8FAFC;

	--brand_primary_50: #E9EEEF;
	--brand_primary_500 : #22505F;
	--brand_primary_600: #1B404C;
	--brand_primary_700: #143039;

	--brand_secondary_500: #D0103A;
	--brand_secondary_600: #A60D2E;

	--color_slate_200: #E2E8F0;

	--font-normal: "GT Walsheim Font", sans-serif;
	--font-bold: "GT Walsheim Font Bold", sans-serif;
}

header {
  --mobile-menu-height: 120px;
}

@font-face {
	font-family: "GT Walsheim Font";
	src: url('../assets/fonts/GT-Walsheim-Regular-Trial-BF651b7fc71a47d.otf');
}
@font-face {
	font-family: "GT Walsheim Font Bold";
	src: url('../assets/fonts/GT-Walsheim-Bold-Trial-BF651b7fc737c57.otf');
}

body {
	font-family: var(--font-normal);
  font-weight: 300;
}


/* por conta dos estilos do Bootstrap */

a {
	text-decoration: none !important;
}


/* TÍTULOS DENTRO DAS SEÇOẼS */

.section-title {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
}

.section-title > .secondary-title-weight {
	color: var(--brand_primary_500);
	font-family: var(--font-bold);
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 15px;
}

.section-title > .primary-title-weight {
	color: var(--brand_secondary_500);
	font-family: var(--font-bold);
	font-size: 36px;
	line-height: 44px;
}

@media screen and (min-width: 1000px) {
	.section-title {
		margin-bottom: 80px;
	}
}
