@keyframes slideInRight {
  from {
    transform: translateX(5%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.hero {
  width: 100vw;
  max-width: 100%;
  background: var(--brand_secondary_500);
  height: calc(100vh - 120px);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../assets/grafismos/arch_hero.svg") no-repeat;
  background-position: left;
  background-size: cover;
}

.hero-text-container {
  z-index: 1;
  padding: 0 20px;
  opacity: 0;
  animation: slideInRight 1.7s ease 0.3s forwards; 
}

.hero-text-container > .title {
  font-size: 60px;
  line-height: 72px;
  color: var(--white);
  font-family: var(--font-bold);
  text-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  margin-bottom: 20px;
}

.hero-text-container > .info {
  font-size: 20px;
  line-height: 28px;
  color: var(--white);
  font-family: var(--font-normal);
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.cta_hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 44px;
  color: var(--white);
  font-weight: 900;
  border-radius: 40px;
  transition: background-color 0.2s ease-in-out;
  background-color: var(--brand_primary_500);
}

.cta_hero:hover {
  background-color: var(--brand_primary_600);
}

@media screen and (min-width: 1000px) {
  .hero::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../assets/grafismos/arch_hero.svg") no-repeat;
    background-position: center;
    background-size: contain;
  }
  .hero::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 40vw;
    height: 100%;
    background: url("../assets/img/image_hero.png") no-repeat;
    background-position: left center;
    background-size: cover;
  }


  .hero-text-container{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    padding: 0 15vw;
    grid-column-gap: 20px;
    grid-template-rows: auto;
  }

  .hero-text-container > .title {
    grid-column: 1 / 10;
    grid-row: 1 / 2;
    font-size: 72px;
    line-height: 88px;
  }

  .hero-text-container > .info {
    font-size: 24px;
    line-height: 38px;
    grid-column: 1 / 10;
    grid-row: 2 / 3;
  }

  .hero-text-container > .cta_hero {
    grid-column: 1 / 10;
    grid-row: 3 / 4;
  }
}