.news-thinking-container {
  background: var(--brand_secondary_500);
}

.news-and-thinking {
  padding: 0 20px;
  display: flex;
  gap: 40px;
  flex-direction: column;
}

@media screen and (min-width: 1000px) {
  .news-and-thinking {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}