.we-help-you-container,
.brands-container {
  min-height: 50vh;
  width: 100vw;
  max-width: 100%;
  padding: 40px 0px;
}

@media screen and (min-width: 1000px) {
  .we-help-you-container, 
  .brands-container {
    padding: 80px 15vw;
  }
}

