.we-help-you-container,
.brands-container,
.case-studies-container,
.news-thinking-container {
  min-height: 50vh;
  width: 100vw;
  max-width: 100%;
  padding: 40px 0px;
}

.case-studies-container{
  background: var(--grey);
}
/* grey */

@media screen and (min-width: 1000px) {
  .we-help-you-container, 
  .brands-container,
  .case-studies-container,
  .news-thinking-container {
    padding: 80px 15vw;
  }
}

